{% extends 'layout.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-5">About Us</h1>
      <p> We are Antonio Mesa, Hien Cao, Irene Manzanares, a project team from the course Design in Engineering (ELEC-C9800). In this design project, we are making a system that surveil the printing process of a 3D printer in Sähköpaja - a workshop in Aalto School of Electrical Engineering.</p>
      <p>With the system, students can monitor their printing 24/7. Additionally, the system can making an alert with a displayed message so that people in the workshop are able to help stop the printer.</p>
      <p>We would like to thank you Salu Ylirisku, Pyry Vikberg and other assistants in the Sähköpaja for their instructions and supports.</p>
      <hr class="my-4">
      <p class="lead"><strong>Lecturer: </strong><span>Salu Ylirisku</span></p>
      <p class="lead"><strong>Project instructors: </strong><span>Pyry Vikberg and Tanweer Muhammad</span></p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://oodi.aalto.fi/a/opintjakstied.jsp?OpinKohd=1132695156&haettuOpas=-1" role="button">Learn more about the course</a>
      </p>
    </div>
  </div>
{% endblock %}