{% extends 'layout.html' %}

{% block content %}
<div class="led-buzzer" class="container w-50 mt-5">
  <h2>LED and BUZZER Control Panel</h2>
  <div>
    {% for pin in pins %}
    <h2>{{ pins[pin].name }}
      {% if pins[pin].state == true %}
      is currently <strong>on</strong></h2>
    <div class="row">
      <div class="col-md-2">
        <a href="/buzzer/{{pin}}/off" class="btn btn-danger" role="button">Turn off</a></div>
    </div>
    {% else %}
    is currently <strong>off</strong></h2>
    <div class="row">
      <div class="col-md-2">
        <a href="/buzzer/{{pin}}/on" class="btn btn-primary" role="button">Turn on</a></div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}