{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="live-stream">
      <h1 class="display-5">Live Video</h1>
      <img class="w-75 rounded mx-auto d-block" src="{{ url_for('video_feed') }}">
    </div>
    <hr>
    <div class="message">
      <form action="" method="POST">
        <div class="form-group">
          <label>Message printed in firstline in LCD (max 16 chars)</label>
          <input type="text" name="firstline" value="{{request.form.firstline}}">
        </div>
        <div class="form-group">
          <label>Message printed in secondline in LCD (max 16 chars)</label>
          <input type="text" name="secondline" value="{{request.form.secondline}}">
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
      <p>Send empty line to turn of LCD</p>
    </div>
  </div>
{% endblock %}